Repository OpenScienceLabs/opensciencelabs.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-format, ruff-linter

mkdocs-build:
  name: mkdocs-build
  entry: makim pages.build
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

ruff-linter:
  name: ruff-linter
  entry: ruff check
  language: system
  pass_filenames: true

feat: Improve layout (#217)
  .github/workflows/main.yaml
  conda/dev.yaml
  mkdocs.yml
  poetry.lock
  pyproject.toml
  theme/base.html
  theme/blog-list-base.html
  theme/blog-list.html
  theme/blog-post.html
  theme/css/base.css
  theme/css/blog.css
  theme/css/code.css
  theme/css/content.css
  theme/css/footer.css
  theme/css/home.css
  theme/css/index.css
  theme/css/nav.css
  theme/css/search.css
  theme/css/styles.css
  theme/css/tokens.css
  theme/css/utilities.css
  theme/home.html
  theme/images/home/header.jpg
  theme/images/home/header.png
  theme/js/bundle.js
  theme/js/index.json
  theme/js/osl-search.js
  theme/js/search.min.js
  theme/js/theme.js
  theme/partners.html
  theme/projects.html
  theme/single-sidebar.html
  theme/team.html
Due: none

fix: Fix Partner page
  mkdocs.yml
  theme/css/partners.css
  theme/partners.html
Due: none

fix: Fix Partner page (#218)
  mkdocs.yml
  theme/css/partners.css
  theme/partners.html
Due: none

add keyboard shortcut and enhance input styling
  theme/js/osl-search.js
Due: none

chore: apply pre-commit linting changes
  theme/js/osl-search.js
Due: none

chore: linting works and fixed formatting
  theme/js/osl-search.js
Due: none

chore: precommit error fixed
  theme/js/osl-search.js
Due: none

feat: add keyboard shortcut and enhance input styling (#220)
  theme/js/osl-search.js
Due: none

deploy: 91e05a8e09fb9686d777c2b82b5117d3b08a5075
  feed_rss_created.xml
  feed_rss_updated.xml
  js/osl-search.js
  sitemap.xml.gz
Due: none

fix: Fix team page
  mkdocs.yml
  theme/css/team.css
  theme/team.html
Due: none

skip 429 http error in the check link script
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

fix: Fix team page (#221)
  mkdocs.yml
  scripts/check-broken-links-md.py
  theme/css/team.css
  theme/team.html
Due: ruff-format, ruff-linter

deploy: e0d13f70a4a8e9aa6aae5ca34eaea250a281398e
  about/team/index.html
  css/team.css
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

feat: add lsp blog
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/header.png
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/index.md
Due: mkdocs-build

feat: add vscode extension packaging blog
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/header.png
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.md
Due: mkdocs-build

feat: add lsp blog (#215)
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/header.png
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/index.md
Due: mkdocs-build

feat: add vscode extension packaging blog (#216)
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/header.png
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.md
Due: mkdocs-build

deploy: 39889985145ca1df5422210bf328af404de1f743
  blog/index.html
  blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/header.png
  blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

imporved the check-broken-link-md.py script according to the description
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

page: Add new partners: DataUmbrella and THCAI
  pages/index.md
  pages/partnership/partners/index.md
  theme/images/partners/dataumbrella.png
  theme/images/partners/thcai.png
Due: mkdocs-build

page: Add new partners: DataUmbrella and THCAI (#225)
  pages/index.md
  pages/partnership/partners/index.md
  theme/images/partners/dataumbrella.png
  theme/images/partners/thcai.png
Due: mkdocs-build

fix: Data Umbrella name
  pages/partnership/partners/index.md
Due: mkdocs-build

fix: Data Umbrella name (#226)
  pages/partnership/partners/index.md
Due: mkdocs-build

deploy: b7dca35fd2080c2f8ef9ed58f4a697d81b597a67
  feed_rss_created.xml
  feed_rss_updated.xml
  partnership/partners/index.html
  sitemap.xml.gz
Due: none

removed localhost from exception url list
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

docs: Update Sugar project URL and add swarm-external-secrets project
  pages/projects/list/index.md
Due: mkdocs-build

docs: Add swarm-external-secrets project to the list of incubated projects
  pages/projects/list/index.md
Due: mkdocs-build

refactor: code organization and formatting in Jupyter notebooks
  bkp/blogs/ibis-framework/index.ipynb
  pages/blog/console-based-representation-in-astx/index.ipynb
  pages/blog/console-based-representation-in-astx/index.md
  pages/blog/scaling-machine-learning-projects-with-dask/index.ipynb
  pages/blog/scaling-machine-learning-projects-with-dask/index.md
  pages/blog/streamlining-project-automation-with-makim/index.ipynb
  pages/blog/streamlining-project-automation-with-makim/index.md
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.ipynb
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.md
Due: mkdocs-build

docs: Update Sugar project URL and add swarm-external-secrets project (#227)
  bkp/blogs/ibis-framework/index.ipynb
  pages/blog/console-based-representation-in-astx/index.ipynb
  pages/blog/console-based-representation-in-astx/index.md
  pages/blog/scaling-machine-learning-projects-with-dask/index.ipynb
  pages/blog/scaling-machine-learning-projects-with-dask/index.md
  pages/blog/streamlining-project-automation-with-makim/index.ipynb
  pages/blog/streamlining-project-automation-with-makim/index.md
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.ipynb
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.md
  pages/projects/list/index.md
Due: mkdocs-build

deploy: f0634f3ce6ba7e1330eb9a68d7a06931d64778ce
  blog/console-based-representation-in-astx/index.html
  blog/console-based-representation-in-astx/index.ipynb
  blog/scaling-machine-learning-projects-with-dask/index.html
  blog/scaling-machine-learning-projects-with-dask/index.ipynb
  blog/streamlining-project-automation-with-makim/index.html
  blog/streamlining-project-automation-with-makim/index.ipynb
  blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.html
  blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.ipynb
  feed_rss_created.xml
  feed_rss_updated.xml
  projects/list/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

pages: update links about Data Umbrella
  pages/index.md
  pages/partnership/partners/index.md
  theme/base.html
  theme/css/partners.css
  theme/icons/sprites.svg
  theme/images/partners/dataumbrella.jpg
  theme/images/partners/dataumbrella.png
  theme/partners.html
Due: mkdocs-build

pages: update links about Data Umbrella and add more link types for partners (#228)
  pages/index.md
  pages/partnership/partners/index.md
  theme/base.html
  theme/css/partners.css
  theme/icons/sprites.svg
  theme/images/partners/dataumbrella.jpg
  theme/images/partners/dataumbrella.png
  theme/partners.html
Due: mkdocs-build

Remove funding.json/index.md HTML docs; serve raw funding.json only
  pages/funding.json
Due: mkdocs-build

fix: linting issue
  pages/funding.json
Due: mkdocs-build

chore: Remove funding.json/index.md HTML docs; serve raw funding.json only (#230)
  pages/funding.json
Due: mkdocs-build

Path conditions:
  mkdocs-build: any of: pages
  ruff-format: any of: \.py$
  ruff-linter: any of: \.py$
