Repository OpenScienceLabs/opensciencelabs.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-format, ruff-linter

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: "pages/blog"
      - id: end-of-file-fixer
        exclude: "pages/blog"
      - id: check-json
      - id: check-toml
      - id: check-xml
        exclude: ".*.svg"
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
        exclude: "theme"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.2"
    hooks:
      - id: prettier
        exclude: "pages/blog|theme"

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: makim pages.build
        files: pages
        language: system
        pass_filenames: false

      - id: linkcheckmd
        name: linkcheckmd
        entry: python scripts/check-broken-links-md.py
        language: system
        pass_filenames: false

      - id: check-internal-links
        name: check-internal-links
        entry: python scripts/check-broken-links-internal.py
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        types:
          - python

ci: fix mkdocs rss git error with fetch-depth and use_git config
  .github/workflows/main.yaml
  mkdocs.yml
Due: none

fix: enable bluesky icon in sprites
  tests/test_social_icons.py
  theme/icons/sprites.svg
Due: ruff-format, ruff-linter

ci: install quarto on netlify and fix ruff linting/formatting
  netlify.toml
  pyproject.toml
  tests/test_analytics_dashboard.py
  tests/test_analytics_presentation.py
Due: ruff-format, ruff-linter

fix(ci): fix linkcheckmd exception handling and python executable
  scripts/check-broken-links-internal.py
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

fix(ci): recognize valid 2xx/3xx HTTP codes and handle bot rate limits in linkcheckmd
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

fix: keep mobile search results aligned while scrolling
  theme/js/osl-search.js
Due: none

perf: avoid duplicate Quarto pre-build in CI
  .github/workflows/main.yaml
Due: none

docs: move consulting to partner network model
  pages/consulting/index.md
Due: mkdocs-build

docs: clarify optional fiscal host support for consulting
  pages/consulting/index.md
Due: mkdocs-build

docs: move consulting to partner network model (#314)
  pages/consulting/index.md
Due: mkdocs-build
