Repository OpenScienceLabs/opensciencelabs.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-format, ruff-linter

mkdocs-build:
  name: mkdocs-build
  entry: makim pages.build
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

ruff-linter:
  name: ruff-linter
  entry: ruff check
  language: system
  pass_filenames: true

update: Update page about affiliation and incubation
  pages/projects/affiliation/index.md
  pages/projects/incubation/index.md
  pages/projects/index.md
  pages/projects/list/index.md
Due: mkdocs-build

update: Update page about affiliation and incubation (#294)
  pages/projects/affiliation/index.md
  pages/projects/incubation/index.md
  pages/projects/index.md
  pages/projects/list/index.md
Due: mkdocs-build

page: Add a page for consulting
  .gitignore
  mkdocs.yml
  pages/consulting/index.md
Due: mkdocs-build

page: Add a page for consulting (#295)
  .gitignore
  mkdocs.yml
  pages/consulting/index.md
Due: mkdocs-build

fix: non-uniformity in blog page cards tag section
  index.html
  index.html.1
  index.html.2
  index.html.3
  index.html.4
  index.html.5
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.md
  theme/css/blog.css
  theme/css/content.css
Due: mkdocs-build

fix: deleted extra html files
  index.html
  index.html.1
  index.html.2
  index.html.3
  index.html.4
  index.html.5
Due: none

fix: consuntancy page
  pages/consulting/index.md
Due: mkdocs-build

fix: consuntancy page (#298)
  pages/consulting/index.md
Due: mkdocs-build

ci: add multidispatch
  .github/workflows/main.yaml
  l-web
Due: none

remove temp file
  l-web
Due: none

ci: add multidispatch (#299)
  .github/workflows/main.yaml
Due: none

feat: add ambassadors program
  mkdocs.yml
  pages/partnership/ambassadors/index.md
  pages/partnership/index.md
  theme/ambassadors.html
  theme/css/ambassadors.css
Due: mkdocs-build

improve the text
  pages/partnership/ambassadors/index.md
Due: mkdocs-build

feat: add ambassadors program (#300)
  mkdocs.yml
  pages/partnership/ambassadors/index.md
  pages/partnership/index.md
  theme/ambassadors.html
  theme/css/ambassadors.css
Due: mkdocs-build

feat: Add analytic pages
  .github/workflows/main.yaml
  .gitignore
  README.md
  docs/analytics-verification.md
  docs/analytics.md
  mkdocs.yml
  pages/about/sponsorship/index.md
  pages/analytics/index.md
  pages/analytics/schema.json
  requirements-analytics.txt
  scripts/analytics/__init__.py
  scripts/analytics/audit.py
  scripts/analytics/export.py
  scripts/analytics/hook.py
  scripts/analytics/report.py
  scripts/analytics/restore.py
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics.json
  tests/test_analytics.py
  tests/test_analytics_presentation.py
  theme/analytics.html
  theme/base.html
  theme/css/analytics.css
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

update google analytics variables
  .github/workflows/main.yaml
  docs/analytics-verification.md
  docs/analytics.md
  tests/test_analytics_presentation.py
Due: ruff-format, ruff-linter

remove temp file
  README.md
  docs/analytics-verification.md
  docs/analytics.md
Due: none

feat: Add analytic pages (#301)
  .github/workflows/main.yaml
  .gitignore
  README.md
  docs/analytics.md
  mkdocs.yml
  pages/about/sponsorship/index.md
  pages/analytics/index.md
  pages/analytics/schema.json
  requirements-analytics.txt
  scripts/analytics/__init__.py
  scripts/analytics/audit.py
  scripts/analytics/export.py
  scripts/analytics/hook.py
  scripts/analytics/report.py
  scripts/analytics/restore.py
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics.json
  tests/test_analytics.py
  tests/test_analytics_presentation.py
  theme/analytics.html
  theme/base.html
  theme/css/analytics.css
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

deploy: b2b8cecda8d3bae13ed52bf9e9e5cd7a7ddcef6a
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

deploy: b2b8cecda8d3bae13ed52bf9e9e5cd7a7ddcef6a
  analytics/data.json
  analytics/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

fix: Fix analytics page
  docs/analytics.md
  pages/analytics/index.md
  pages/analytics/schema.json
  scripts/analytics/export.py
  scripts/analytics/hook.py
  scripts/analytics/presentation.py
  scripts/analytics/report.py
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics-v1.json
  tests/fixtures/analytics.json
  tests/test_analytics.py
  tests/test_analytics_dashboard.py
  tests/test_analytics_presentation.py
  theme/analytics.html
  theme/css/analytics.css
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

fix: Fix analytics page (#302)
  docs/analytics.md
  pages/analytics/index.md
  pages/analytics/schema.json
  scripts/analytics/export.py
  scripts/analytics/hook.py
  scripts/analytics/presentation.py
  scripts/analytics/report.py
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics-v1.json
  tests/fixtures/analytics.json
  tests/test_analytics.py
  tests/test_analytics_dashboard.py
  tests/test_analytics_presentation.py
  theme/analytics.html
  theme/css/analytics.css
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

fix: Fix analytics dashboard
  .github/workflows/main.yaml
  .makim.yaml
  README.md
  docs/analytics.md
  pages/analytics/index.md
  pages/analytics/schema.json
  scripts/analytics/export.py
  scripts/analytics/presentation.py
  scripts/analytics/report.py
  scripts/analytics/routes.py
  tests/analytics-dom.cjs
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics-explorer.json
  tests/render_analytics_dom.py
  tests/test_analytics.py
  tests/test_analytics_dashboard.py
  tests/test_analytics_explorer.py
  tests/test_analytics_presentation.py
  tests/test_analytics_preview.py
  theme/analytics.html
  theme/css/analytics.css
  theme/js/analytics-model.js
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

fix: Fix analytics dashboard (#303)
  .github/workflows/main.yaml
  .makim.yaml
  README.md
  docs/analytics.md
  pages/analytics/index.md
  pages/analytics/schema.json
  scripts/analytics/export.py
  scripts/analytics/presentation.py
  scripts/analytics/report.py
  scripts/analytics/routes.py
  tests/analytics-dom.cjs
  tests/analytics-js.test.cjs
  tests/browser_analytics.py
  tests/fixtures/analytics-explorer.json
  tests/render_analytics_dom.py
  tests/test_analytics.py
  tests/test_analytics_dashboard.py
  tests/test_analytics_explorer.py
  tests/test_analytics_presentation.py
  tests/test_analytics_preview.py
  theme/analytics.html
  theme/css/analytics.css
  theme/js/analytics-model.js
  theme/js/analytics.js
Due: mkdocs-build, ruff-format, ruff-linter

deploy: f1fd985a96a38e84c814f97ddac7e6f3d7709a4b
  analytics/index.html
  analytics/schema.json
  css/analytics.css
  feed_rss_created.xml
  feed_rss_updated.xml
  js/analytics-model.js
  js/analytics.js
  search/search_index.json
  sitemap.xml.gz
Due: none

deploy: f1fd985a96a38e84c814f97ddac7e6f3d7709a4b
  analytics/data.json
  analytics/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

fix: Fix analytics data
  .github/workflows/main.yaml
  docs/analytics.md
  pages/analytics/index.md
  scripts/analytics/export.py
  tests/test_analytics.py
  tests/test_analytics_presentation.py
Due: mkdocs-build, ruff-format, ruff-linter

fix: Fix analytics data (#304)
  .github/workflows/main.yaml
  docs/analytics.md
  pages/analytics/index.md
  scripts/analytics/export.py
  tests/test_analytics.py
  tests/test_analytics_presentation.py
Due: mkdocs-build, ruff-format, ruff-linter

deploy: bb4ed1471b07c3abb52294b25b653f8a4bbb5f50
  analytics/data.json
  analytics/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml.gz
Due: none

fix broken linkedin and copy link buttons
  .makim.yaml
  scripts/check-broken-links-md.py
  tests/test_share_and_copy_link.py
  theme/blog-list.html
  theme/blog-post.html
  theme/css/blog.css
  theme/js/theme.js
Due: ruff-format, ruff-linter

Path conditions:
  mkdocs-build: any of: pages
  ruff-format: any of: \.py$
  ruff-linter: any of: \.py$
