Repository OpenScienceLabs/opensciencelabs.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-format, ruff-linter

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: "pages/blog"
      - id: end-of-file-fixer
        exclude: "pages/blog"
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
        exclude: "theme"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.2"
    hooks:
      - id: prettier
        exclude: "pages/blog|theme"

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: makim pages.build
        files: pages
        language: system
        pass_filenames: false

      - id: linkcheckmd
        name: linkcheckmd
        entry: python scripts/check-broken-links-md.py
        language: system
        pass_filenames: false

      - id: check-internal-links
        name: check-internal-links
        entry: python scripts/check-broken-links-internal.py
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        types:
          - python

pages: Update info about gsoc and projects
  pages/opportunities/gsoc/index.md
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
  pages/projects/list/index.md
Due: mkdocs-build

pages: Update info about gsoc and projects (#231)
  pages/opportunities/gsoc/index.md
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
  pages/projects/list/index.md
Due: mkdocs-build

pages: Fix GSoC and Projects pages
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
  pages/projects/list/index.md
Due: mkdocs-build

pages: Fix GSoC and Projects pages (#232)
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
  pages/projects/list/index.md
Due: mkdocs-build

deploy: 6e415b0bee6c623d90fa283b452501d4e0124904
  feed_rss_created.xml
  feed_rss_updated.xml
  opportunities/gsoc/project-ideas/index.html
  opportunities/internships/oss/project-ideas/index.html
  projects/list/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

blog: add blog about gsoc
  .pre-commit-config.yaml
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.svg
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

blog: add blog about gsoc (#233)
  .pre-commit-config.yaml
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.svg
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

deploy: 8fc91dc5f16405cf68dc5837f07af8a5d35bed9c
  blog/index.html
  blog/three-years-with-google-summer-of-code-what-ive-learned/header.svg
  blog/three-years-with-google-summer-of-code-what-ive-learned/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix-blog-gsoc-image
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.png
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

fix image size
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.png
Due: mkdocs-build

blog: fix-blog-gsoc-image (#234)
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.png
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/header.svg
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

deploy: 8b94f4d7ec758d686ef3976adf4df934d9507bb7
  blog/index.html
  blog/three-years-with-google-summer-of-code-what-ive-learned/header.png
  blog/three-years-with-google-summer-of-code-what-ive-learned/header.svg
  blog/three-years-with-google-summer-of-code-what-ive-learned/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

fix: Fix GSoC blog post text
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

fix: Fix GSoC blog post text (#235)
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

blog: Add new item about contributions to gsoc
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

remove unnecesary text
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

blog: Add new item about contributions to gsoc (#236)
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
Due: mkdocs-build

deploy: cc78e2f4e8582f11e4e20d7ea12239792f9192d5
  blog/three-years-with-google-summer-of-code-what-ive-learned/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml.gz
Due: none

Refactor: improved broken link checker (better parsing, whitelist, safe exit)
  scripts/check-broken-links-md.py
Due: ruff-format, ruff-linter

fixed the project list readablitiy bug!!!
  pages/projects/list/index.md
Due: mkdocs-build

Validate input/output file formats for speech/text operations
  my-project/README.md
  my-project/package.json
  my-project/src/app.ts
  my-project/src/types/index.ts
  my-project/tsconfig.json
Due: none

Validate input/output file formats for speech/text operations
  my-project/README.md
  my-project/package.json
  my-project/src/app.ts
  my-project/src/types/index.ts
  my-project/tsconfig.json
  src/artbox/cli.py
  src/artbox/validators.py
Due: ruff-format, ruff-linter

Validate input/output file formats for speech/text operations
  .github/workflows/main.yaml
Due: none

ci: safe conda channel removal; fix pre-commit and ruff issues
  .github/workflows/main.yaml
Due: none

fix: Fix project page list (#239)
  pages/projects/list/index.md
Due: mkdocs-build

Change Slack invite URL in project list
  pages/projects/list/index.md
Due: mkdocs-build

pages: Change Slack invite URL in project list (#242)
  pages/projects/list/index.md
Due: mkdocs-build

Add client-side text-to-speech option for articles
  theme/base.html
  theme/js/theme.js
Due: none

add osl 2.0
  pages/about/index.md
  pages/blog/osl-2-0/header.png
  pages/blog/osl-2-0/index.md
Due: mkdocs-build

add osl 2.0 (#246)
  pages/about/index.md
  pages/blog/osl-2-0/header.png
  pages/blog/osl-2-0/index.md
Due: mkdocs-build

fix osl post date
  pages/blog/osl-2-0/index.md
Due: mkdocs-build

blog: Fix OSL 2.0 blog post date (#247)
  pages/blog/osl-2-0/index.md
Due: mkdocs-build

deploy: cc8009b0ab5579a4d332eb044a26a2913a4b28fe
  blog/index.html
  blog/osl-2-0/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  search/search_index.json
  sitemap.xml.gz
Due: none
