Repository OpenScienceLabs/opensciencelabs.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-format, ruff-linter

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: "pages/blog"
      - id: end-of-file-fixer
        exclude: "pages/blog"
      - id: check-json
      - id: check-toml
      - id: check-xml
        exclude: ".*.svg"
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
        exclude: "theme"

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.2"
    hooks:
      - id: prettier
        exclude: "pages/blog|theme"

  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs-build
        entry: makim pages.build
        files: pages
        language: system
        pass_filenames: false

      - id: linkcheckmd
        name: linkcheckmd
        entry: python scripts/check-broken-links-md.py
        language: system
        pass_filenames: false

      - id: check-internal-links
        name: check-internal-links
        entry: python scripts/check-broken-links-internal.py
        language: system
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        types:
          - python

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check
        language: system
        pass_filenames: true
        types:
          - python

feat: migrate blog posts from ipynb/md to qmd format
  .makim.yaml
  CONTRIBUTING.md
  conda/dev.yaml
  pages/blog/artbox-what-is-it-how-to-collaborete/index.qmd
  pages/blog/avances-scicookie-grant-2024/index.qmd
  pages/blog/console-based-representation-in-astx/index.qmd
  pages/blog/exploring-llama-2-a-paradigm-shift-in-large-language-models/index.qmd
  pages/blog/first-time-contributors/index.qmd
  pages/blog/fqlearn-ternary-plot/index.qmd
  pages/blog/fqlearn-visualizacion-datos/index.qmd
  pages/blog/google-summer-of-code-week-4th-and-7th-midterm-evaluation/index.qmd
  pages/blog/internship-call-2-2024/index.qmd
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/index.qmd
  pages/blog/makim-efficient-workflows-with-makims-working-directory/index.qmd
  pages/blog/my-google-summer-of-code-journey/index.qmd
  pages/blog/my-opensciencelabs-internship-journey/index.qmd
  pages/blog/newsletter-first-edition/index.qmd
  pages/blog/newsletter-second-edition/index.qmd
  pages/blog/open-science-labs-participating-google-summer-of-code-2025-mentoring-organization/index.qmd
  pages/blog/osl-2-0/index.qmd
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.qmd
  pages/blog/psf-funding-open-source-projects-development-scicookie/index-en.qmd
  pages/blog/psf-funding-open-source-projects-development-scicookie/index.qmd
  pages/blog/scaling-machine-learning-projects-with-dask/index.qmd
  pages/blog/scicookie-collaborating-and-learning/index.qmd
  pages/blog/scicookie-recibe-nueva-subvencion-de-psf-para-mejoras-crecimiento/index.qmd
  pages/blog/streamlining-project-automation-with-makim/index.qmd
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.qmd
  pages/blog/typer-a-python-library-for-building-cli-applications/index.qmd
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.qmd
  pages/blog/working-with-boolean-expressions-in-python/index.qmd
  scripts/convert-blog-posts-to-qmd.py
Due: mkdocs-build, ruff-format, ruff-linter

fix: add docstring and fix line length in convert script
  scripts/convert-blog-posts-to-qmd.py
Due: ruff-format, ruff-linter

fix: apply ruff formatting
  scripts/convert-blog-posts-to-qmd.py
Due: ruff-format, ruff-linter

fix: fix trailing whitespace, end of file and prettier formatting
  CONTRIBUTING.md
  conda/dev.yaml
Due: none

fix: fix trailing whitespace, end of file and prettier formatting
  scripts/check-broken-links-internal.py
Due: ruff-format, ruff-linter

fix: add quarto to conda dependencies for CI
  conda/dev.yaml
Due: none

fix: remove convert script and legacy ipynb files from blog folders
  CONTRIBUTING.md
  pages/blog/artbox-what-is-it-how-to-collaborete/index.ipynb
  pages/blog/console-based-representation-in-astx/index.ipynb
  pages/blog/exploring-llama-2-a-paradigm-shift-in-large-language-models/index.ipynb
  pages/blog/first-time-contributors/index.ipynb
  pages/blog/makim-efficient-workflows-with-makims-working-directory/index.ipynb
  pages/blog/scaling-machine-learning-projects-with-dask/index.ipynb
  pages/blog/scicookie-collaborating-and-learning/index.ipynb
  pages/blog/streamlining-project-automation-with-makim/index.ipynb
  pages/blog/typer-a-python-library-for-building-cli-applications/index.ipynb
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.ipynb
  pages/blog/working-with-boolean-expressions-in-python/index.ipynb
  scripts/convert-blog-posts-to-qmd.py
Due: mkdocs-build, ruff-format, ruff-linter

fix: fix quarto render command in makim.yaml
  .makim.yaml
Due: none

ci: fix pre-commit flag and conda warning for setup-miniconda
  .github/workflows/main.yaml
Due: none

ci: activate conda in Linter and Build steps, set -e in pre-build
  .github/workflows/main.yaml
  .makim.yaml
Due: none

ci: use bash -el so conda env is active in all steps (setup-miniconda IMPORTANT)
  .github/workflows/main.yaml
Due: none

add more projects
  pages/funding.json
Due: mkdocs-build

fix: Fix funding.json
  .makim.yaml
  .wellKnown/funding-manifest-urls
  bkp/blogs/call-for-interns-2024-01/index.md
  bkp/opportunities/internship/cycles/2024-01.md
  bkp/opportunities/internship/cycles/2024-02.md
  pages/.well-known/funding-manifest-urls
  pages/blog/internship-call-2-2024/index.md
  pages/funding.json
  pages/projects/list/index.md
Due: mkdocs-build

gsoc: Add DU Event Board project
  pages/opportunities/gsoc/project-ideas/index.md
Due: mkdocs-build

chore(ci): Add Netlify to the Review workflow
  netlify.toml
  runtime.txt
Due: none

chore(ci): Add Netlify to the Review workflow (#272)
  netlify.toml
  runtime.txt
Due: none

perf: improve blog and homepage image performance (lazy-loading, responsive, docs) #264
  CONTRIBUTING.md
  theme/base.html
  theme/blog-post.html
  theme/css/blog.css
  theme/events.html
  theme/home.html
  theme/js/theme.js
  theme/partners.html
  theme/projects.html
  theme/team.html
Due: none

perf: improve blog and homepage image performance (lazy-loading, responsive, docs) #264 (#268)
  CONTRIBUTING.md
  theme/base.html
  theme/blog-post.html
  theme/css/blog.css
  theme/events.html
  theme/home.html
  theme/js/theme.js
  theme/partners.html
  theme/projects.html
  theme/team.html
Due: none

fix issues
  .gitignore
  .makim.yaml
  CONTRIBUTING.md
  bkp/blogs/call-for-interns-2024-01/index.md
  bkp/opportunities/internship/cycles/2024-01.md
  bkp/opportunities/internship/cycles/2024-02.md
  pages/blog/artbox-what-is-it-how-to-collaborete/index.md
  pages/blog/avances-scicookie-grant-2024/index.md
  pages/blog/console-based-representation-in-astx/index.md
  pages/blog/console-based-representation-in-astx/index.qmd
  pages/blog/exploring-llama-2-a-paradigm-shift-in-large-language-models/index.md
  pages/blog/first-time-contributors/index.md
  pages/blog/fqlearn-ternary-plot/index.md
  pages/blog/fqlearn-visualizacion-datos/index.md
  pages/blog/internship-call-2-2024/index.md
  pages/blog/internship-call-2-2024/index.qmd
  pages/blog/language-server-protocol-lsp-how-editors-speak-code/index.md
  pages/blog/makim-efficient-workflows-with-makims-working-directory/index.md
  pages/blog/my-google-summer-of-code-journey/index.md
  pages/blog/my-opensciencelabs-internship-journey/index.md
  pages/blog/newsletter-first-edition/index.md
  pages/blog/newsletter-second-edition/index.md
  pages/blog/osl-2-0/index.md
  pages/blog/packaging-a-vs-code-extension-using-pnpm-and-vsce/index.md
  pages/blog/psf-funding-open-source-projects-development-scicookie/index-en.md
  pages/blog/psf-funding-open-source-projects-development-scicookie/index.md
  pages/blog/scaling-machine-learning-projects-with-dask/index.md
  pages/blog/scicookie-collaborating-and-learning/index.md
  pages/blog/scicookie-recibe-nueva-subvencion-de-psf-para-mejoras-crecimiento/index.md
  pages/blog/streamlining-project-automation-with-makim/index.md
  pages/blog/three-years-with-google-summer-of-code-what-ive-learned/index.md
  pages/blog/typer-a-python-library-for-building-cli-applications/index.md
  pages/blog/unlocking-the-power-of-multiple-dispatch-in-python-with-plum-dispatch/index.md
  pages/blog/working-with-boolean-expressions-in-python/index.md
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
  pages/projects/list/index.md
  scripts/inject-qmd-yaml-into-md.py
Due: mkdocs-build, ruff-format, ruff-linter

blog: Add blog about Arx
  .makim.yaml
  bkp/blogs/call-for-interns-2024-01/index.md
  bkp/opportunities/internship/cycles/2024-01.md
  bkp/opportunities/internship/cycles/2024-02.md
  pages/blog/arx-project-update-a-new-monorepo/header.png
  pages/blog/arx-project-update-a-new-monorepo/index.md
  pages/blog/internship-call-2-2024/index.md
  pages/blog/internship-call-2-2024/index.qmd
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
Due: mkdocs-build

blog: Add blog about Arx (#274)
  .makim.yaml
  bkp/blogs/call-for-interns-2024-01/index.md
  bkp/opportunities/internship/cycles/2024-01.md
  bkp/opportunities/internship/cycles/2024-02.md
  pages/blog/arx-project-update-a-new-monorepo/header.png
  pages/blog/arx-project-update-a-new-monorepo/index.md
  pages/blog/internship-call-2-2024/index.md
  pages/blog/internship-call-2-2024/index.qmd
  pages/opportunities/gsoc/project-ideas/index.md
  pages/opportunities/internships/oss/project-ideas/index.md
Due: mkdocs-build

deploy: 107f99ccf604fdab46f32e6910edf645f3563067
  blog/arx-project-update-a-new-monorepo/header.png
  blog/arx-project-update-a-new-monorepo/index.html
  blog/index.html
  blog/internship-call-2-2024/index.html
  blog/internship-call-2-2024/index.qmd
  feed_rss_created.xml
  feed_rss_updated.xml
  opportunities/gsoc/project-ideas/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

pages: Fix outdated info about gsoc participation
  pages/opportunities/gsoc/index.md
  pages/opportunities/gsoc/project-ideas/index.md
Due: mkdocs-build

pages: Fix outdated info about gsoc participation (#275)
  pages/opportunities/gsoc/index.md
  pages/opportunities/gsoc/project-ideas/index.md
Due: mkdocs-build

deploy: 67e64b8d642b2ac90a782242e6a0d5458082e8f7
  feed_rss_created.xml
  feed_rss_updated.xml
  opportunities/gsoc/index.html
  opportunities/gsoc/project-ideas/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

pages: update arx logo
  pages/blog/arx-project-update-a-new-monorepo/header.png
Due: mkdocs-build

pages: update arx logo (#276)
  pages/blog/arx-project-update-a-new-monorepo/header.png
Due: mkdocs-build

deploy: 40a58cf507ecd040e72887165225a5cca10b5d85
  blog/arx-project-update-a-new-monorepo/header.png
  feed_rss_created.xml
  feed_rss_updated.xml
  sitemap.xml.gz
Due: none

blog: Fix arx blog post
  pages/blog/arx-project-update-a-new-monorepo/index.md
Due: mkdocs-build

blog: update arx blog post
  pages/blog/arx-project-update-a-new-monorepo/index.md
Due: mkdocs-build

Fix arx post (#277)
  pages/blog/arx-project-update-a-new-monorepo/index.md
Due: mkdocs-build
